---
import Layout from "@layouts/Layout.astro";
import InteriorBlueprint from "@components/PageBlueprints/InteriorBlueprint.astro";
import IndexBlueprint from "@components/PageBlueprints/IndexBlueprint.astro";
import generatePageMetadata from "@utils/generatePageMetadata";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection(
    "pages",
    ({ data }) => data.type !== "homepage",
  );

  return pages.map((page) => {
    return {
      params: { slug: `${page.data.slug}` },
      props: { page },
    };
  });
}

const { page } = Astro.props;

const path = Astro.url.pathname;

const allFellows = await getCollection("fellows");
---

<Layout meta={generatePageMetadata(page.data.metadata, page.data.title, path)}>
  <main slot="content">
    {page.data.blueprint === "interior" && <InteriorBlueprint page={page} />}
    {
      page.data.blueprint === "index" && (
        <IndexBlueprint title={page.data.title} fellows={allFellows} />
      )
    }
    <!-- {page.data.blueprint === "contact" && <ContactBlueprint page={page} />} -->
  </main>
</Layout>
