---
type Props = {
  xPosition?: number;
  opacity?: number;
  zIndex?: number;
  color?: string;
};

const {
  xPosition = 15,
  opacity = 1,
  zIndex = -1,
  color = "#750075",
} = Astro.props;
---

<div
  class="background-illustration"
  style={`--xPosition: ${xPosition}%; --opacity: ${opacity}; --zIndex: ${zIndex}`}
>
  <svg
    width="326"
    height="456"
    viewBox="0 0 326 456"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g opacity="0.3" class="lines">
      <path d="M1 0V320" stroke={color} stroke-opacity="0.5"></path>
      <path d="M33 0L33 409" stroke={color} stroke-opacity="0.6"></path>
      <path d="M65 0V361" stroke={color} stroke-opacity="0.7"></path>
      <path d="M97 0L97 456" stroke={color} stroke-opacity="0.8"></path>
      <path d="M129 0V320" stroke={color} stroke-opacity="0.9"></path>
      <path d="M161 0L161 380" stroke={color} stroke-opacity="0.7"></path>
      <path d="M193 0V232" stroke={color} stroke-opacity="0.6"></path>
      <path d="M225 0V320" stroke={color} stroke-opacity="0.5"></path>
    </g>
    <g opacity="0.9" class="bird">
      <path
        d="M124.281 239L162.781 299.114L181.693 275.474L197.228 302.491L262.07 293.711L308 295.737L236.404 316.675L256.667 366.658L228.298 332.211L223.57 390.298H216.816L201.956 398.404L176.289 378.14H168.184L159.404 332.211L0 359.904L141.842 313.298L124.281 239Z"
        fill="#F9E9F5"></path>
      <path
        d="M157.377 311.947L158.728 305.868L159.403 311.947L181.693 313.973L178.991 294.386L179.667 292.359L184.395 313.973L187.772 314.649L187.096 316.675L172.237 316L120.228 330.184L120.903 328.158L167.509 314.649L147.246 313.298L147.921 311.947H157.377Z"
        fill="#FCF8FB"></path>
      <path
        d="M210.737 320.053L200.605 302.491H197.228L210.737 322.079L208.71 365.307L210.737 367.333L213.439 316L228.298 332.886V330.184L214.114 313.974V309.921C223.674 313.703 227.553 308.795 228.298 305.868L235.053 317.351H237.079L229.649 303.167L226.272 302.491C223.57 311.137 217.041 308.795 214.114 306.544H212.088L210.737 320.053Z"
        fill="#FCF8FB"></path>
      <path
        d="M190.473 322.755L159.403 332.211V334.237L190.473 326.132L201.956 397.728L206.009 396.378L193.175 326.132L195.202 324.106L193.175 322.755L190.473 316.676V322.755Z"
        fill="#FCF8FB"></path>
    </g>
  </svg>
</div>

<style>
  .background-illustration {
    position: absolute;
    top: 0;
    right: var(--xPosition);
    opacity: var(--opacity);
    z-index: var(--zIndex);
  }

  .bird {
    transform: translate(-4rem, -5rem) scale(1.2);
  }
</style>
