---
import ButtonLink from "./ButtonLink.astro";
import type { FellowshipYear, Category } from "../types";

type Props = {
  years?: FellowshipYear[];
  categories?: Category[];
};

const { years, categories } = Astro.props;

const path = Astro.url.pathname;
---

<section class="cluster">
  <div class="cluster">
    <p class="small-title">Filter Year</p>
    <div class="cluster">
      <ButtonLink
        linkObject={{
          type: "slugString",
          name: "All",
          href: { slug: "fellows" },
        }}
        theme={path === "/fellows/" ? "primary" : "ghostPrimary"}
      />
      {
        years?.map((entry) => {
          return (
            <ButtonLink
              linkObject={{
                type: "slugString",
                name: `${entry.year}`,
                href: { slug: `fellows/${entry.slug}` },
              }}
              theme={
                path === `/fellows/${entry.slug}/` ? "primary" : "ghostPrimary"
              }
            />
          );
        })
      }
    </div>
  </div>
  <form class="cluster">
    <label for="fellow-categories" class="small-title">Filter Category</label>
    <select name="Fellow Categories" id="fellow-categories">
      <option value="all">All Fellows</option>
      {
        categories?.map((category) => (
          <option value={category.slug}>{category.name}s</option>
        ))
      }
    </select>
  </form>
</section>

<style>
  section {
    border-block: 1px solid var(--color-primary-light);
    padding: var(--space-s);

    &.cluster {
      gap: 3rem;
    }
  }

  select {
    padding: 0.75rem;
    border-radius: var(--rounded-corners-small);
    line-height: var(--leading-tight);
    font-size: var(--step--1);
    background: var(--color-primary-light);
    border: 1px solid var(--color-accent-base);

    /* &:hover {
      border-color: var(--color-accent-base);
    } */
  }
</style>

<script>
  const options = document.querySelectorAll("#categories");
  options.forEach((option) => {
    option;
  });
</script>
