---
import ButtonLink from "./ButtonLink.astro";
import type { Navigation, SiteSettings } from "../types";
import SocialLinks from "./SocialLinks.astro";
import Logo from "./Logo.astro";
import buildHref from "../utils/buildHref";
import capitalizeFirst from "../utils/capitalizeFirst";

type Props = {
  theme?: string;
  position?: string;
  currentPath: string;
  navigation: Navigation;
  content: SiteSettings;
};

const {
  theme = "normal",
  position = "relative",
  currentPath,
  navigation,
  content,
} = Astro.props;

// console.log("current path", currentPath);
---

<header
  data-header-color={theme}
  data-header-position={position}
  class="site-header | cluster"
>
  <div class="cluster">
    <Logo
      title={content.title}
      size="36"
      color={theme === "normal"
        ? "var(--color-primary-base)"
        : "var(--color-white)"}
    />
    <nav aria-label="Main Navigation">
      <ul class="cluster" role="list">
        {
          navigation.entries?.map((navItem) => {
            const urlParts = currentPath.split("/");
            return (
              <li>
                <a
                  aria-current={
                    urlParts.includes(navItem?.slug!) ? "page" : "false"
                  }
                  href={`/${navItem.slug}`}
                >
                  {navItem.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
  <!-- <div class="contact-wrapper">
    <ButtonLink
      linkObject={{
        name: "Contact",
        href: { type: "externalLink", url: content?.contact },
      }}
    />
  </div> -->
  <!-- <SocialLinks content={content?.socialLinks} /> -->
  <!-- <ul class="social | cluster" role="list">
    {
      content?.socialLinks?.map((link) => {
        const iconName =
          link.icon === "square-arrow-up-right"
            ? "Haymarket Books website"
            : capitalizeFirst(link.icon!);
        return (
          <li>
            <a href={link.url} target="_blank" title={iconName}>
              <i
                class={`fa-${
                  link.icon === "square-arrow-up-right" ? "regular" : "brands"
                } fa-${link.icon}`}
              />
              <span class="sr-only">{iconName}</span>
            </a>
          </li>
        );
      })
    }
  </ul> -->
</header>

<style>
  header {
    z-index: 10;
    padding-block: 2rem;
    padding-inline: var(--gutter, 1rem);
    background-color: var(--theme-color-background);

    &.cluster {
      justify-content: space-between;
    }

    & > :first-child {
      row-gap: 1.5rem;
      column-gap: 2rem;
    }

    & a {
      text-decoration: none;

      &[aria-current="page"] {
        color: var(--color-accent-base);
      }
    }

    &[data-header-position="relative"] {
      position: relative;
      color: var(--color-text-heading);
      box-shadow: var(--shadow-regular);
    }

    &[data-header-position="absolute"] {
      position: absolute;
      top: 0;
      inset-inline: 0;
    }
  }

  nav {
    & ul {
      &.cluster {
        row-gap: 0.75rem;
        column-gap: 2rem;
        justify-content: flex-start;
      }
    }

    & a {
      position: relative;
      color: var(--theme-color-text);
      font-family: var(--font-heading);
      font-size: var(--step--1);
      transition: all 0.2s ease;

      &:hover::after {
        width: 33%;
      }

      &:hover {
        opacity: var(--text-opacity-shade);
      }

      &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: var(--accent-line-width);
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--theme-color-accent);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  /* .social {
    color: var(--theme-color-social);
    font-size: 1.5rem;

    &.cluster {
      --cluster-space: 1.5rem;
    }

    & a {
      transition: all 0.2s ease;

      &:hover {
        opacity: var(--text-opacity-shade);
      }
    }
  } */

  header[data-header-color="normal"] {
    --theme-color-text: var(--color-text-heading);
    --theme-color-accent: var(--color-accent-light);
    --theme-color-logo: var(--color-primary-base);
    --theme-color-social: var(--color-primary-base);
    --theme-color-background: var(--color-white);
  }

  header[data-header-color="white"] {
    --theme-color-text: var(--color-primary-light);
    --theme-color-accent: var(--color-accent-light);
    --theme-color-logo: var(--color-white);
    --theme-color-social: var(--color-white);
    --theme-color-background: transparent;
  }

  /* @media (max-width: 640px) {
    .social {
      position: absolute;
      top: calc(2rem + 0.25rem);
      right: calc(var(--gutter) * 0.5);
    }
  } */

  @media (max-width: 768px) {
    .contact-wrapper {
      display: none;
    }

    nav {
      & a {
        &::after {
          display: none;
        }
      }
    }
  }

  @media (max-width: 640px) {
    header {
      padding-block-start: 1rem;
    }
  }
</style>
