---
import Layout from "@layouts/Layout.astro";
import IndexBlueprint from "@components/PageBlueprints/IndexBlueprint.astro";
import type { PageMetadata } from "../../types";
import generatePageMetadata from "@utils/generatePageMetadata";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const years = await getCollection("fellowshipYears");
  const allFellows = await getCollection("fellows");

  return years.map((entry) => {
    return {
      params: { year: entry.data.slug },
      props: {
        page: entry,
        fellowshipYears: years,
        fellows: allFellows,
      },
    };
  });
}

const { page, fellows } = Astro.props;

const meta: PageMetadata = {
  seo: {
    title: `${page.data.year} Fellows`,
    description: `Meet the Writing Freedom fellows for ${page.data.year}.`,
  },
  openGraph: {
    title: `${page.data.year} Fellows`,
    image: undefined,
    description: `Meet the Writing Freedom fellows for ${page.data.year}.`,
  },
};

const path = Astro.url.pathname;

// const page = pages.filter((page) => page.blueprint === "index");
const filteredFellows = fellows.filter(
  (fellow) => fellow.data.fellowshipYear._id === page.id,
);
---

<Layout meta={generatePageMetadata(meta, `${page.data.year} Fellows`, path)}>
  <main slot="content">
    <IndexBlueprint
      title={`${page.data.year} Fellows`}
      fellows={filteredFellows}
    />
  </main>
</Layout>

<style>
  .content-wrapper {
    margin-block: var(--section-spacer);

    &.flow {
      --flow-space: 3rem;
    }
  }

  h2 {
    font-size: var(--step-2);
  }

  section {
    margin-block: var(--space-m);

    &.flow {
      --flow-space: 1.5rem;
    }
  }

  .responsive-grid {
    /* --grid-gap: 2rem; */
    --item-min-width: 16rem;
    /* --item-max-width: 18rem; */
    grid-row-gap: 4rem;
    grid-column-gap: 2rem;
    /* --item-min-width: 12rem; 
        --item-max-width: 14rem; */
  }
</style>

<!-- <script src="../../scripts/components/fellow-filter.js"></script> -->

<!-- <script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  let mm = gsap.matchMedia();

  mm.add(
    {
      reduceMotion: "(prefers-reduced-motion: reduce)",
      isDesktop: "(min-width: 769px)",
      isMobile: "(max-width: 768px)",
    },
    (context) => {
      console.log(context.conditions);
      let { reduceMotion, isDesktop, isMobile } =
        context.conditions as gsap.Conditions;

      const defaults = {
        ease: "power1.out",
        duration: 1,
      };

      gsap.from(".index-section article", {
        scrollTrigger: ".index-section article",
        y: reduceMotion ? 0 : 16,
        opacity: 0,
        duration: defaults.duration,
        stagger: reduceMotion ? 0 : 0.2,
        ease: defaults.ease,
      });
    },
  );
</script> -->
