---
import SiteHeader from "@components/SiteHeader.astro";
import SiteFooter from "@components/SiteFooter.astro";
import { getImage } from "astro:assets";
import { urlForImage } from "@lib/sanity/urlForImage";
import { SEO } from "astro-seo";
import type { PageMetadata } from "../types";
import { getEntry } from "astro:content";

import "../styles/variables.css";
import "../styles/reset.css";
import "../styles/typography.css";
import "../styles/layout.css";
import "../styles/exception.css";
import "../styles/utilities.css";

type Props = {
  meta?: PageMetadata;
};

const { meta } = Astro.props;

const path = Astro.url.pathname;
const canonicalURL = new URL(path, Astro.site);

const ogImage = await getImage({
  src: urlForImage(meta?.openGraph?.image!).width(1200).height(630).url(),
  format: "jpeg",
  width: 1200,
  height: 630,
  alt: "",
});

const nav = await getEntry("navigation", "navigation");
const siteSettings = await getEntry("siteSettings", "siteSettings");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={meta?.seo?.title}
      description={meta?.seo?.description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: meta?.openGraph?.title!,
          type: "website",
          image: ogImage.src,
        },
        image: {
          alt: meta?.openGraph?.title,
        },
        optional: {
          description: meta?.openGraph?.description,
        },
      }}
    />
    <link rel="icon" type="image/svg" href="/haymarket-books-logo.svg" />
    <link
      rel="preload"
      href="/fonts/QuattrocentoSans-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/QuattrocentoSans-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/QuattrocentoSans-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <style is:inline>
      @font-face {
        font-family: "Quattrocento Sans";
        src: url("/fonts/QuattrocentoSans-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Quattrocento Sans";
        src: url("/fonts/QuattrocentoSans-Italic.woff2") format("woff2");
        font-weight: 400;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: "Quattrocento Sans";
        src: url("/fonts/QuattrocentoSans-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
    </style>
    <link rel="stylesheet" href="https://use.typekit.net/eiq0vog.css" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script is:inline defer src="/fontawesome/brands.min.js"></script>
    <script is:inline defer src="/fontawesome/regular.min.js"></script>
    <script is:inline defer src="/fontawesome/fontawesome.min.js"></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script
      is:inline
      src="https://cdn.usefathom.com/script.js"
      data-site="BOPMCAIT"
      defer></script>
    <!-- / Fathom -->
    <!-- AlpineJS -->
    <script
      is:inline
      defer
      src="https://unpkg.com/@alpinejs/ui@3.15.11/dist/cdn.min.js"></script>
    <script
      is:inline
      defer
      src="https://unpkg.com/@alpinejs/focus@3.15.11/dist/cdn.min.js"></script>
    <script
      is:inline
      defer
      src="https://unpkg.com/@alpinejs/collapse@3.15.11/dist/cdn.min.js"
    ></script>
    <script
      is:inline
      defer
      src="https://unpkg.com/alpinejs@3.15.11/dist/cdn.min.js"></script>
  </head>
  <body>
    <SiteHeader
      nav={nav}
      settings={siteSettings}
      currentPath={path}
      theme={path === "/" ? "white" : "normal"}
      position={path === "/" ? "absolute" : "relative"}
    />
    <slot name="content" />
    <SiteFooter nav={nav} settings={siteSettings} />
  </body>
</html>
